/**** FONTES ****/
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url("../src/fonts/sans-pro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url("../src/fonts/sans-pro/SourceSansPro-Bold.ttf");
}

@mixin font_sans_regular {
  font-family: 'SourceSansPro-Regular', serif;
}
@mixin font_sans_bold {
  font-family: 'SourceSansPro-Bold', serif;
}

/**** Variables ****/
$white: #fff;
$black: #000;
$gray_light: #bdc3c7;
$gray: #95a5a6;
$gray_dark: #7f8c8d;
$blue_light: #cce2e4;
$blue: #0054ae;
$blue_dark: #163784;
$blue_theme: #002397;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;

*{
  @include font_sans_regular();
}

/**** Mixins ****/
@mixin transicao($elemento: all, $tempo: 0.3s) {
  -webkit-transition: $tempo ease-in-out $elemento;
  -o-transition: $tempo ease-in-out $elemento;
  transition: $tempo ease-in-out $elemento;
}

@mixin tranformacao($inicial: 1, $final: 1.1) {
  -webkit-transform: scale($inicial);
  -ms-transform: scale($inicial);
  -moz-transform: scale($inicial);
  transform: scale($inicial);
  @include transition;

  &:hover {
      -webkit-transform: scale($final);
      -ms-transform: scale($final);
      -moz-transform: scale($final);
      transform: scale($final);
      cursor: pointer;
  }
}
// MEDIA QUERYS
@mixin media_query_min($px) {
  @media only screen and (min-width: $px) {
      @content;
  }
}
@mixin media_query_max($px) {
  @media only screen and (max-width: $px) {
      @content;
  }
}

/**** Import Bootstrap4 ****/
@import "../../node_modules/bootstrap/scss/bootstrap";
img{
  max-width: 100%;
}
.bg-gradient{
    background: #002397;
    background: -moz-linear-gradient(-45deg,rgba(0,35,151,1) 0%,rgba(0,178,198,1) 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,rgba(0,35,151,1)),color-stop(100%,rgba(0,178,198,1)));
    background: -webkit-linear-gradient(-45deg,rgba(0,35,151,1) 0%,rgba(0,178,198,1) 100%);
    background: -o-linear-gradient(-45deg,rgba(0,35,151,1) 0%,rgba(0,178,198,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(0,35,151,1) 0%,rgba(0,178,198,1) 100%);
    background: linear-gradient(135deg,rgba(0,35,151,1) 0%,rgba(0,178,198,1) 100%);
}
.invalid {
    border-color: #dc3545;
}

.banner-topo {
  background-image: url('../img/bg_topo.jpg');  
  width: 100%;
  height: 100vh;  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
  .titulo-principal {
      margin-top: 200px;
      @include media_query_max(992px){
        margin-top: 50px;
      }
    }
}
  
body {
  background-color: #f9f9f9;
}
h1, h2, h3, h4, h5, h6, p, li{
  color: #333;
}
h1{
  font-size: 35px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5,
h6{
  font-size: 16px;
}
html, body {
  margin: 0;
  padding: 0;
}
.header-menu{
  background-color: $blue_theme;
}
.conteudo {
  margin-bottom: 100px;
  p {
    color: $black;
  }
}

.img_logo {
  width: 250px;
  height: auto;
  margin: 50px 0px;
}
.img-logo{
  width: 250px;
}

h2{
color: #fff;
margin: 0 0px;
}

.panorama {
margin: 20px 0;
width: 100%;
}

.separador {
  margin: 0px 0;
  padding: 1px 5px;
  background-color: #e3e7ea;
}

#conteudo {  
  .separador {
    margin: 50px 0;
  }
}
h4 {
  text-transform: uppercase;
}
.titulo-principal{
  color: $white;
  font-weight: bold;
}

#footer {
background-color: #263843;
height: 100%;
padding: 20px;

}

#footer .separador {
  margin: 15px 0;
}

.logo_footer {
margin: 5px;
width: 100%;
padding: 25px;
}

.fundo_icone_social {
background-color: #3a4b56;
display: inline-block;
margin: 0 5px;
width: 50px;
height: 50px;
border-radius: 50%;
}

.icone_sociais {
  margin-left: 12.5px;
  margin-top: 10px;
  width: 25px;
  height: 30px;
}

input {
  background-color: #3a4b56;
  color: #768791;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
}

.post-title{
  font-size: 35px;
  color: #333;
  @include font_sans_bold();
}
.data{
  text-align: center;  
  .destaque{
    background-color: $blue_theme;
    color: $white;
    font-size: $font14;
    padding: 5px 15px;
    border-radius: 4px;
  }
  .data{
    color: $gray;
  }
}
.link-post{
  text-decoration: none;
  color: $black;
  @include transicao();
  &:hover{
    text-decoration: none;
    color: $blue_theme;
  }
}
.img-footer{
  max-width: 70%;
}
.titulo-footer{
  color: #fff;
  font-size: 16px;
}
.conteudo-post{
  h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
  }
  h1, h2, h3, h4, h5, h6, p, li{
    color: $black;
  }
}